.FormLivros{    
    
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    padding: 20px;   
    height: 500px;
    margin-left: 200px;
   
   
}